html,
body {
  height: 100%;
}

body {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#viewport {
  width: 640px;
  height: 256px;
  position: relative;
  overflow-x: auto;
  background-image: url("../images/water0.png");
}

#ports {
  margin-top: 96px;
  display: flex;
  justify-content: space-around; /* will give equal spacing around each of the elements children */
}

#ports > .port {
  /* #ports > .port means select all elements with a class of port which are a direct child of an element with an id of ports */
  width: 64px;
  height: 32px;
  background-image: url("../images/port.png");
}

#ship {
  width: 128px;
  height: 64px;
  background-image: url("../images/ship.png");
  position: absolute; /* position: absolute will position the element relative to the nearest outer element with a position: relative rule (or the body if one doesn't exist). In this case, we have position: relative set on the #viewport element so our ship element positions itself relative to this. */
}

#sailbutton {
  border: 0;
  background-color: #fb3640;
  border-bottom: 4px solid #d8040f;
  color: white;
  font-family: inherit;
  padding: 10px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: "Pacifico", cursive;
}

#sailbutton:focus {
  background-color: #d8040f;
  border-bottom-width: 0;
  padding-top: 14px;
}
